@using WebApp1.DataAccess;
@model HrdinaModel

@{
    ViewData["Title"] = "Dračí doupě";
}

<h1>@Model.Hrdina.Name</h1>
<a href="/DrD/Index">Přehled</a>
<br />

<div>
    <h2>Vlastnosti</h2>
    <h3>Tělo</h3>
    @for (int i = 0; i < Model.Hrdina.TeloLimit; i++)
    {
        if (Model.Hrdina.TeloLimit - Model.Hrdina.TeloJizva <= i)
        {
            <input type="checkbox" disabled>
        }
        else if (Model.Hrdina.Telo > i)
        {
            <input type="checkbox" checked>
        }
        else
        {
            <input type="checkbox">
        }
    }
    <button type="button" onclick="TeloJizva">Jizva</button>
    &nbsp;
    <a href="/DrD/TeloJizva?hrdinaId=-@Model.Hrdina.ID">Lecit jizvu</a>
    <br />
    <h3>Duše</h3>
    @for (int i = 0; i < Model.Hrdina.DuseLimit; i++)
    {
        if (Model.Hrdina.DuseLimit - Model.Hrdina.DuseJizva <= i)
        {
            <input type="checkbox" checked>
        }
        else if (Model.Hrdina.Duse > i)
        {
            <input type="checkbox" disabled>
        }
        else
        {
            <input type="checkbox">
        }
    }
    <a href="/DrD/DuseJizva?hrdinaId=@Model.Hrdina.ID">Jizva</a>
    &nbsp;
    <a href="/DrD/DuseJizva?hrdinaId=-@Model.Hrdina.ID">Lecit jizvu</a>
    <br />
    <h3>Vliv</h3>
    @for (int i = 0; i < Model.Hrdina.VlivLimit; i++)
    {
         if (Model.Hrdina.VlivLimit - Model.Hrdina.VlivJizva <= i)
        {
            <input type="checkbox" checked name="@i" id="@i">
        }
        else if(Model.Hrdina.Vliv > i)
        {
            <input type="checkbox" disabled name="@i" id="@i">
        }
        else
        {
            <input type="checkbox" name="@i" id="@i">
        }
    }
    <a href="/DrD/VlivJizva?hrdinaId=@Model.Hrdina.ID">Jizva</a>
    &nbsp;
    <a href="/DrD/VlivJizva?hrdinaId=-@Model.Hrdina.ID">Lecit jizvu</a>
    <br />
</div>
<div>
    <h2>Vybavení</h2>
    <h3>Peníze</h3>
    @{
        int dukaty = (int)(Model.Hrdina.Penize / 100);
        int grose = (int)Model.Hrdina.Penize % 100;
        int halere = (int)((Model.Hrdina.Penize - (int)Model.Hrdina.Penize)*100);
    }
    Dukaty:&nbsp;<input type="number" value="@dukaty" size="50" />
    Groše:&nbsp;<input type="number" value="@grose" />,
    Haléře:&nbsp;<input type="number" value="@halere" />
    <h3>Vybavení</h3>
    @Html.TextAreaFor(m => m.Hrdina.Vybaveni, new { Value = Model.Hrdina.Vybaveni, htmlAttributes = new { @class = "form-control" } })
</div>
<br />
<h2>Schopnosti</h2>
<div class="container">
    <div class="row">
        @foreach (var schopnost in Model.Schopnosti)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">

                        @Html.Raw("<b><u>" + schopnost.Name + " </u></b> &nbsp;-&nbsp;")
                        @Html.Raw(schopnost?.Povolani?.Name)
                        <br />
                        <i>@Html.Raw(schopnost?.Pravidlo)</i>
                        <br />
                        @Html.Raw(schopnost?.Description)
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<h2>Povolání</h2>
@for (int i = 0; i < Model.Povolani.Count; i++)
{
    @Html.Raw(Model.Povolani[i].Name)
    @:&nbsp;
    @Html.Raw(Model.HrdinovaPovolani.First(p => p.HrdinaId == Model.Hrdina.ID && p.PovolaniId == Model.Povolani[i].ID).Level)
    <br />
}  

<script>
   function apply_theme(color) {
        $.ajax({
            type: "get",
            url: "/Home/SetColor",
            data: { color: color },
            success: function (result) {
                $("#theme").html(result);
            }
        })
    }
</script>
}