@using WebApp1.DataAccess;
@model HrdinaModel

@{
    ViewData["Title"] = "Dračí doupě";
}

<h1>@Model.Hrdina.Name</h1>
<a href="/DrD/Index">Přehled</a>
<br />
<form method="post">
    <input type="hidden" name="hrdina" value="@Model.Hrdina.ID">
    <div>
        <h2>Vlastnosti</h2>
        <h3>Tělo</h3>
        limit Tělo @Html.TextBox(nameof(Model.Hrdina.TeloLimit), Model.Hrdina.TeloLimit,new { type="number", min="0" })
        <h3>Duše</h3>
        limit Duše @Html.TextBox(nameof(Model.Hrdina.DuseLimit), Model.Hrdina.DuseLimit,new { type="number", min="0" })
        <h3>Vliv</h3>
        limit Vliv @Html.TextBox(nameof(Model.Hrdina.VlivLimit), Model.Hrdina.VlivLimit, new { type="number", min="0" })
    </div>
    <br />

    <h2>Schopnosti</h2>
    @Html.DropDownListFor(m => m.Schopnosti, new SelectList(ViewBag.AllSchopnost, nameof(Schopnost.ID),nameof(Schopnost.Name)), new { Value = nameof(Schopnost), htmlAttributes = new { @class = "form-control" } } )
    <button type="submit" class="btn btn-primary" name="AddSchopnost">Přidat</button>
    <a asp-controller="DrD" asp-action="NewSchopnost" class="btn btn-primary" >Nová</a>
    <br />
    <div class="container">
        <div class="row">
            @foreach (var schopnost in Model.Schopnosti)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body">

                            @Html.Raw("<b><u>" + schopnost.Name + " </u></b> &nbsp;-&nbsp;")
                            @Html.Raw(schopnost?.Povolani?.Name)
                            <br />
                            <i>@Html.Raw(schopnost?.Pravidlo)</i>
                            <br />
                            @Html.Raw(schopnost?.Description)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <h2>Povolání</h2>
    @for (int i = 0; i < Model.Povolani.Count; i++)
    {
        int povolaniId = Model.Povolani[i].ID;
        @Html.Raw(Model.Povolani[i].Name)
        @:&nbsp;
        <input asp-for="HrdinovaPovolani[i].Level" type="number" min="1" max="5"> @*name= "povolani @povolaniId"*@

        <br />
    }
    @Html.DropDownListFor(m => m.Povolani, new SelectList(ViewBag.PossiblePovolani, nameof(WebApp1.Models.Database.Povolani.ID),nameof(WebApp1.Models.Database.Povolani.Name)), new { Value = nameof(WebApp1.Models.Database.Povolani), htmlAttributes = new { @class = "form-control" } } )
    @{
        int skutecnyLevel = Model.Hrdina.TeloLimit + Model.Hrdina.DuseLimit + Model.Hrdina.VlivLimit - 15;
        Model.HrdinovaPovolani.ForEach(p => skutecnyLevel += p.Level);
        if (Model.Hrdina.Zkusenosti / 12 > skutecnyLevel)
        {
            <button type="submit" name="AddPovolani">Přidat</button>
        }
        else
        {
            <button type="submit" disabled name="AddPovolani">Přidat</button>
        }
    }
    <br>

    <button type="submit" name="Save">Uložit</button>
</form>