@using WebApp1.DataAccess;
@model WebApp1.Models.Texty.SvatkyModel
@{
    ViewData["Title"] = "Liturgicke texty";
}

<h1>Texty</h1>
<head>
    <style>
        aside {
            width: 30%;
            float: left;
            background-color: var(--bs-gray-dark);
            margin-right: 20px;
            max-width: 170px;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/pe9vrlfk8d5dm7ma9g0na5ej7zzhlhw48irehlx4uwvdkr00/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
</head>

<form method="post" id="textForm" asp-controller="Texty" asp-action="Edit">
    <input type="hidden" name="LitTextId" value="@Model.LitTexty.FirstOrDefault()?.Id">
    <div class="topControls">
        <h4>Vyber jak má být svátek uložen</h4>
        <label>Cyklus: </label>
        @{
            var cykly = Enum.GetValues(typeof(Cyklus)).Cast<Cyklus>().Select(v => new SelectListItem
            {
                Text = v.ToString(),
                Value = ((int)v).ToString()
            }).ToList();
            // Add an empty item at the start of the list
            cykly.Insert(0, new SelectListItem
            {
                Text = "Všechny",
                Value = "-1"
            });
            var cyklySelectList = new SelectList(cykly, "Value", "Text", ViewBag.Cyklus);

            var dny = Enum.GetValues(typeof(Tyden)).Cast<Tyden>().Select(v => new SelectListItem
            {
                Text = v.ToString(),
                Value = ((int)v).ToString()
            }).ToList();
            // Add an empty item at the start of the list
            dny.Insert(0, new SelectListItem
            {
                Text = "Žádný",
                Value = "-1"
            });
            var dnySelectList = new SelectList(dny, "Value", "Text");
        }
        @Html.DropDownList("cyklus", cyklySelectList)
        <br />
        <input type="radio" checked id="useSvatek" value="svatek" name="selection" />
        <label>Svatek: </label>
        @Html.DropDownList("Svatek", new SelectList(Model.Svatky, nameof(Svatek.Id), nameof(Svatek.Cely_nazev), ViewBag.SvatekId), new { id = "svatekDropDown" })
        <label>případně den v týdnu</label>
        @Html.DropDownList("den", dnySelectList, new { id = "denTydneDropDown" })
        <br />
        <input type="radio" id="useDatum" value="datum" name="selection" />
        Datum svatku <input type="date" disabled id="datepicker" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <br />
    </div>
    <div class="editor">
        <textarea id="HtmlText" name="text">
            @if (Model.LitTexty.Count == 0)
            {
            <p>Příklad použití <b>tučného</b> text.</p>
            <p>Příklad použití <i>kurzívy</i>.</p>
            <p>Příklad použití <u>podtržení</u>.</p>
            <p>Příklad použití odkazu na <a href="https://www.google.com">google</a>.</p>
            }
            else
            {
                @Model.LitTexty.First().Text;
            }
        </textarea>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'save anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                toolbar: 'save undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            });
        </script>
    </div>
    <input type="submit" id="submit" value="Ulozit">
</form>


<script type="text/javascript">
    var datum = document.getElementById("datepicker");
    var svatek = document.getElementById("svatekDropDown");
    var denTydne = document.getElementById("denTydneDropDown");
    document.getElementById("useDatum").addEventListener("change", function () {
        datum.disabled = !this.checked;
        svatek.disabled = this.checked;
        denTydne.disabled = this.checked;
    });
    document.getElementById("useSvatek").addEventListener("change", function () {
        svatek.disabled = !this.checked;
        denTydne.disabled = !this.checked;
        datum.disabled = this.checked;
    });

    //
    document.getElementById("submit").addEventListener("click", function () {
        var form = document.getElementById("textForm");
        var newInput = document.createElement("input");
        newInput.type = "hidden";
        newInput.name = "textWithoutHtml";
        newInput.value = tinymce.get("HtmlText").getContent({ format: "text" });
         // myContent;
        // alert(myContent);
        form.appendChild(newInput);
    });
</script>