@using WebApp1.DataAccess;
@model WebApp1.Models.Texty.SvatkyModel
@{
    ViewData["Title"] = "Liturgicke texty";
}

<h1>Texty</h1>
<head>
    <style>
        aside {
            width: 30%;
            float: left;
            background-color: var(--bs-gray-dark);
            margin-right: 20px;
            max-width: 170px;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/pe9vrlfk8d5dm7ma9g0na5ej7zzhlhw48irehlx4uwvdkr00/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
</head>

<form method="post" asp-controller="Texty" asp-action="Edit">
    <input type="hidden" name="LitTextId" value="@Model.LitTexty.FirstOrDefault()?.Id">
    <div class="topControls">
        <label>Cyklus: </label>
        @{
            var cykly = Enum.GetValues(typeof(Cyklus)).Cast<Cyklus>().Select(v => new SelectListItem
            {
                Text = v.ToString(),
                Value = ((int)v).ToString()
            }).ToList();
            // Add an empty item at the start of the list
            cykly.Insert(0, new SelectListItem
            {
                Text = "Žádný",
                Value = "-1"
            });
            var cyklySelectList = new SelectList(cykly, "Value", "Text", ViewBag.Cyklus);

            var dny = Enum.GetValues(typeof(Tyden)).Cast<Tyden>().Select(v => new SelectListItem
            {
                Text = v.ToString(),
                Value = ((int)v).ToString()
            }).ToList();
            // Add an empty item at the start of the list
            dny.Insert(0, new SelectListItem
            {
                Text = "Žádný",
                Value = "-1"
            });
            var dnySelectList = new SelectList(dny, "Value", "Text");
        }
        @Html.DropDownList("cyklus", cyklySelectList)
        <label>Svatek: </label>
        @Html.DropDownList("Svatek", new SelectList(Model.Svatky, nameof(Svatek.Id), nameof(Svatek.Cely_nazev), ViewBag.SvatekId))
        <label>případně den v týdnu</label>
        @Html.DropDownList("den", dnySelectList)
        <br />
        Datum svatku <input type="date" id="datepicker" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <input type="submit" value="Ulozit">
    </div>
    <div class="editor">
        <textarea id="HtmlText" name="text">
            @if (Model.LitTexty.Count == 0)
            {
            <p>This is an example of <b>bold</b> text.</p>
            <p>This is an example of <i>italic</i> text.</p>
            <p>This is an example of <u>underlined</u> text.</p>
            <p>This is an example of a <a href="https://www.google.com">link</a>.</p>
            }
            else
            {
                @Model.LitTexty.First().Text
                ;
            }
        </textarea>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'save anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                toolbar: 'save undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            });
        </script>
    </div>
</form>