@using WebApp1.DataAccess;
@model WebApp1.Models.Texty.SvatkyModel
@{
    ViewData["Title"] = "Liturgicke texty";
}

<h1>Texty</h1>
<head>
    <style>
        aside {
            width: 30%;
            float: left;
            background-color: var(--bs-gray-dark);
            margin-right: 20px;
            max-width: 170px;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/pe9vrlfk8d5dm7ma9g0na5ej7zzhlhw48irehlx4uwvdkr00/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
</head>
<body>
    <div class="container">
        @Html.Partial("SvatkyListView",Model)
        <div class="content">
            @if (ViewData["Count"] as int? > 1)
            {
                <form method="post" asp-controller="Texty" asp-action="Index">
                    <div class="topControls">
                        <label>Cyklus: </label>
                        @Html.DropDownList("cyklus", @Html.GetEnumSelectList(typeof(Cyklus)))
                        Datum <input type="date" id="datepicker" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <br>
                        Text <input type="text" name="searchText" value="hledat" />
                        <input type="submit" value="Hledat">
                    </div>
                </form>
                <table align="right" class=" table table-bordered table-striped" width="10%">
                    <thead>
                        <tr>
                            <th align="center">
                                <a asp-action="Index" asp-route-sort=@nameof(LitText.Svatek.Cely_nazev)>Svátek</a>
                            </th>
                            <th>
                                <a asp-action="Index" asp-route-sort=@nameof(LitText.Cyklus)>@nameof(LitText.Cyklus)</a>
                            </th>
                            <th align="center">
                                <a asp-action="Index" asp-route-sort=@nameof(LitText.Text)>@nameof(LitText.Text)</a>
                            </th>
                            <th align="center" colspan="2">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var litText in ViewData["litTexts"] as List<LitText>)
                        {
                            <tr>
                                <td width="10%">
                                    @litText?.Svatek?.Cely_nazev
                                </td>
                                <td width="10%">
                                    @litText?.Cyklus
                                </td>
                                <td width="50%">
                                    @litText?.Text
                                </td>
                                <td>
                                    <a class="btn btn-primary table-striped-columns" asp-controller="Texty" asp-action="Index" asp-route-id="@litText?.Id">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary table-striped-columns" asp-controller="Texty" asp-action="Delete" asp-route-id="@litText?.Id">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <form method="post" asp-controller="Texty" asp-action="Index">
                    <div class="topControls">
                        <label>Cyklus: </label>
                        @Html.DropDownList("cyklus", @Html.GetEnumSelectList(typeof(Cyklus)))
                        Datum <input type="date" id="datepicker" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <input type="submit" value="Ulozit">
                    </div>
                    <div class="editor">
                        <textarea id="HtmlText" name="text">
                        <p>This is an example of <b>bold</b> text.</p>
                        <p>This is an example of <i>italic</i> text.</p>
                        <p>This is an example of <u>underlined</u> text.</p>
                        <p>This is an example of a <a href="https://www.bing.com">link</a>.</p>
                                                                    </textarea>
                        <script>
                            tinymce.init({
                                selector: 'textarea',
                                plugins: 'save anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                                toolbar: 'save undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
                            });
                        </script>
                    </div>
                </form>
            }
        </div>
    </div>
    <style>
        .container {
            display: flex;
        }

        .nav {
            width: 20%;
            padding: 10px;
        }

        .content {
            width: 80%;
            padding: 10px;
        }

        .topControls {
            margin-bottom: 20px;
            margin-right: 20px;
            margin-left: 20px;
            align-content: center;
        }

        .editor {
            width: 100%;
            height: auto;
        }
    </style>
</body>