@using WebApp1.DataAccess;
@model WebApp1.Models.Texty.SvatkyModel
@{
    ViewData["Title"] = "Liturgicke texty";
}

<h1>Texty</h1>
<head>
    <style>
        aside {
            width: 30%;
            float: left;
            background-color: var(--bs-gray-dark);
            margin-right: 20px;
            max-width: 170px;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/pe9vrlfk8d5dm7ma9g0na5ej7zzhlhw48irehlx4uwvdkr00/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
</head>
<body>
    <div class="container">
        @Html.Partial("SvatkyListView", Model)
        <div class="content">
            @{
                var cykly = Enum.GetValues(typeof(Cyklus)).Cast<Cyklus>().Select(v => new SelectListItem
            {
                Text = v.ToString(),
                Value = ((int)v).ToString()
            }).ToList();
                // Add an empty item at the start of the list
                cykly.Insert(0, new SelectListItem
            {
                Text = "Všechny",
                Value = "-1"
            });

                var cyklySelectList = new SelectList(cykly, "Value", "Text", ViewBag.Cyklus);
            }

            <form method="post" asp-controller="Texty" asp-action="Index">
                <div class="topControls">
                    <input type="hidden" name="svatek" value="@ViewBag.SvatekId" />
                    <label>Vyber na základě čeho hledat:</label>
                    <br />
                    <input type="checkbox" checked id="useCyklus" name="useCyklus" />
                    <label>  </label>
                    <label>Cyklus: </label>
                    @Html.DropDownList("cyklus", cyklySelectList, new { id = "cyklusDropDown"})
                    <br />
                    <input type="checkbox" checked id="useDatum" name="useDatum" />
                    Datum <input type="date" id="datepicker" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <br>
                    <input type="checkbox" checked id="useText" name="useText" />
                    Text <input type="text" id="text" name="searchText" value="hledat" />
                    <br />
                    <input type="submit" name="Search" value="Hledat">
                    <input type="submit" name="New" value="Nový" />
                </div>
            </form>
            <table align="right" class="table table-bordered table-striped" width="100%">
                <thead>
                    <tr>
                        <th align="center">
                            <a asp-action="Index" asp-route-sort=@nameof(LitText.Svatek.Cely_nazev)>Svátek</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sort=@nameof(LitText.Cyklus)>@nameof(LitText.Cyklus)</a>
                        </th>
                        <th align="center">
                            <a asp-action="Index" asp-route-sort=@nameof(LitText.Text)>@nameof(LitText.Text)</a>
                        </th>
                        <th align="center" colspan="2">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LitText litText in Model.LitTexty)
                    {
                        <tr>
                            <td width="15%">
                                @litText?.Svatek?.Cely_nazev
                            </td>
                            <td width="5%">
                                @litText?.Cyklus
                            </td>
                            <td width="75%">
                                @if (litText.PlainText.Length > 300)
                                {
                                    @litText.PlainText.Substring(0, 300)
                                    ;
                                }
                                else
                                {
                                    @litText?.PlainText;
                                }
                            </td>
                            <td>
                                <a class="btn btn-primary table-striped-columns" asp-controller="Texty" asp-action="Edit" asp-route-litTextId="@litText?.Id">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-primary table-striped-columns" asp-controller="Texty" asp-action="Delete" asp-route-SvatekId="@litText?.Id">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        var cykly = document.getElementById("cyklusDropDown");
        document.getElementById("useCyklus").addEventListener("change", function () {
            cykly.disabled = !this.checked;
        });

        var datum = document.getElementById("datepicker");
        document.getElementById("useDatum").addEventListener("change", function () {
            datum.disabled = !this.checked;
        });

        var text = document.getElementById("text");
        document.getElementById("useText").addEventListener("change", function () {
            text.disabled = !this.checked;
        });
    </script>

    <style>
        .container {
            display: flex;
        }

        .nav {
            width: 20%;
            padding: 10px;
            flex: 0 0 20%;
        }

        .content {
            width: 80%;
            padding: 10px;
        }

            .content table {
                width: 100%; /* Force the table to take up the full width within the content area */
                table-collapse: collapse;
            }

        .topControls {
            margin-bottom: 20px;
            margin-right: 20px;
            margin-left: 20px;
            align-content: center;
        }

        .editor {
            width: 100%;
            height: auto;
        }
    </style>
</body>