@model IEnumerable<WebApp1.Models.Doba>
Response.Cache.SetCacheability(HttpCacheability.Public);
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DobaDef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CelyNazev)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DobaDef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CelyNazev)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
